/* navbar */

.navbar-bg {
  background-color: #585a5f;
  /* background-color: #2e3137; */
  min-height: 75px;
  width: 100%;
}
.logo-nav {
  width: 100px;
}
.navbutton {
  color: #52beba;
}
.custom-toggler {
  color: #52beba;
}
.custom-toggler .navbar-toggler-icon {
  color: #52beba;
}

.nav-link.active-link {
  color: #52beba;
}

.navbar-user{
  color: #52beba;
}
.nav-i{
  width: 150px;
}