
.box {
  height: 120px;
  width: 120px;
  border-radius: 20px;
  background-color: #2e3137;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-right: 5px;
  
}

.doc-folder{
  font-size: 35px;
  margin: auto
}

 .text-box{
  margin: auto;
  font-size: 15px;
}