body{
  background-color: #252426;
  color: #e3e4e6;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #fff

}
a:hover{
  color: #52beba;
}

.back-btn{
  color: #585a5f;
  justify-content: center;
  font-weight: 100;
}

.back-btn:hover{
  color:#52beba

}